.dashboardContainer{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.metricCardsContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
}

.container {
  display: flex;
  flex-wrap: nowrap; /* por defecto, no se wrappea */
  max-height: 250px;
}

.item {
  flex-basis: 20%; /* establece un tamaño mínimo para cada elemento */
}

@media (max-width: 400px) {
  .container {
    flex-wrap: wrap; /* cuando el espacio sea menor a 400px, se wrappea */
  }
}

.venezuelaContainer {
    height: 250px;
    max-width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    border-radius: 1.5rem;
    margin-right: 16px;
    transition: all 0.2s ease-in-out;
    gap: 15px;
    padding: 20px 20px;
    overflow: auto;
}

.venezuelaContainer::-webkit-scrollbar {
    width: 5px;
}

.tempContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.temp {
    margin: 0;
    font-size: 1.5rem;
    font-weight: bold;
    color: #0FF25A;
}

.title{
    text-wrap: wrap;
    text-align: center;
}

.venezuelaContainer:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.barWeatherComponentContainer {
    /* height: 200px; */
    width: 80%;
}

.pieWeatherComponentContainer {
    height: 250px;
    width: 100%;
}

.lineGroundComponentContainer {
    height: 250px;
    width: 100%;
}

.interpretationsContainer{
    height: 250px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1.5rem;
}

.noInterpretations{
    text-align: center;
    color: #555;
    padding: 20px;
}

.primaryColor{
    color: #0FF25A;
}

.topCardsContainer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
}

.dataCard{
    height: 50px;
    border: 1px solid #ccc;
    border-radius: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease-in-out;
}

.dataCard:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}